 /* footer */
 .footer{
    background-color:#CFCFC9;
}
.joinwithus{
    font-size: large;
    font-weight:lighter;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.footericons i.fab {
 display: inline-block;
 border-radius: 60px;
 box-shadow: 0px 0px 2px #888;
 padding: 0.8em 0.9em;
 color: #8D8D7B;
 box-shadow: 0px 0px 7px 1px rgba(141,141,123,0.75);
-webkit-box-shadow: 0px 0px 7px 1px rgba(141,141,123,0.75);
-moz-box-shadow: 0px 0px 7px 1px rgba(141,141,123,0.75);

}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 5px 6px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}