@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
.contactheading {
    margin-top: 9%;
    text-align: center; 
    font-family: 'Raleway', sans-serif;
    font-weight:border;
}

.contactpare{
    font-family: 'Raleway', sans-serif;
}
.border_bottm{
    border-bottom: 3px solid rgb(13, 173, 173); 
}

iframe{
    width: 600px;
    height: 450px;
    border: 0;
}
.tag{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    float: right;
    margin-right: 47%;
}
.tagemail{
    margin-right: 57%;
    float: right;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.tagcall{
    margin-right: 62%;
    float: right;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.contactpara{
    margin-left: 24%;
}

.contacticon .icon{
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px rgb(144, 250, 215);
    padding: 0.9em 1em;
    background-color: #e0f6fa ;
    color: rgb(48, 150, 153);
    font-size: large; 
}

.green-border .form-control:focus {
    border: 1px solid #5bc0de;
    box-shadow: 0 0 0 0.2rem rgba(104, 170, 200, 0.25);
}
.sendmessage{
    border-radius: 20px;
    margin-top: 5%;
    margin-bottom: 9%;
    background-color: rgb(48, 150, 153);
    /* box-shadow: none !important; */
    color: aliceblue; 
    
}
.sendmessage:hover{
    
        color: aliceblue;
        background-color:rgb(54, 142, 145) ;
    
}

.reveal {
    position: relative;
    opacity: 0;
  }
  
  .reveal.active {
    opacity: 1;
  }
  .active.fade-bottom {
    animation: fade-bottom 0.7s ease-in;
  }
  .active.fade-left {
    animation: fade-left 1s ease-in;
  }
  .active.fade-right {
    animation: fade-right 1s ease-in;
  }
  @keyframes fade-bottom {
    0% {
      transform: translateY(40px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes fade-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
   
/* mobile width */
@media screen and (max-width:720px) {
    .contactheading{
        margin-top: 28%;
    }
    iframe{
        height: 40vh;
    }
    
}